
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    font-family: 'Indie Flower', cursive;
}

.fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }


.main {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: minmax(100px, auto) repeat(5, 100px);
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #fcfcfc, #00FF6C);
  }

.main > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(41, 197, 176, 0.75);
    border-radius: 2px;
}

.screen {
  
    text-align: center;
    border-radius: 5px;
    font-size: 60px;



    background-color: cadetblue;
    height: 100px;
    grid-column: 1 / -1;

    word-wrap: break-word;
    word-break: break-all;

    



}

